/* footer.css */

/* Footer Styles */
footer {
    background-color: #000000;
    padding-top: 2rem;
}

/* Footer Container */
.footer-container {
    max-width: 1200px;
    margin: 0 auto; /* Center align */
    padding: 2rem 1rem; /* Ensure some spacing */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-column {
    flex: 1;
    min-width: 200px;
    margin-bottom: 1.5rem;
}

.footer-column h4 {
    font-weight: bold;
    margin-bottom: 1rem;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 0.5rem;
}

.footer-column ul li a {
    color: #ffffff;
    text-decoration: none;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.footer-column form {
    margin-top: 1rem;
}

.footer-column input[type="email"] {
    margin-top: 1rem;
    padding: 0.5rem;
    width: calc(100% - 100px);
    margin-right: 0.5rem;
    border: none;
    border-radius: 5px;
}

.footer-column button {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    background-color: #ffffff;
    color: #000000;
    border-radius: 5px;
    cursor: pointer;
}

.footer-column .social-icons a {
    margin-right: 10px;
    color: #ffffff;
}

.footer-bottom {
    text-align: center;
    padding: 1rem;
    background-color: #000000;
    color: #ffffff;
    font-size: 0.875rem;
}
